<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/content.css">
        <link rel="stylesheet" href="/styles/navbar.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gidole&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    </head>
<!-- Navbar code below -->
<ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/edit">Create</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>
<div id="spacer"></div>

<body>
