<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<p>I am a film graduate looking to switch to the computer science industry. I self-taught myself Python<br>
last year and am now learning full-stack web development. This is an entirely self-made project from<br>
a few months of learning while working full-time.</p>

<%- include("partials/footer.ejs") %>